<div class="container">
  <h1 class="title mt-4">Todo-List</h1>
  <div class="row">
    <div
      class="col-sm-12 col-md-4 col-lg-6 mb-3 d-flex justify-content-center mt-4"
      *ngFor="let task of tasks"
    >
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">
            {{ task.description }}
          </p>

          <p
            class="card-text progress"
            [style.color]="task.complete ? '#327646' : '#251e7d'"
          >
            {{ task.complete ? "Complete" : "In Progress" }}
          </p>

          <button
            class="card-link btn btn-secondary"
            [routerLink]="['/update', task.id]"
          >
            Update
          </button>
          <button
            class="card-link btn btn-danger"
            (click)="delateTask(task.id)"
          >
            Delate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
