<div class="container mt-4">
  <h1 class="title mt-4">Add a New Task</h1>
  <form class="form-container">
    <label class="label">Task Title</label>
    <input type="text" placeholder="Enter task name" class="input" />
    <label class="label">Task description</label>
    <input type="text" placeholder="Enter task description" class="input" />
    <label class="label">Task Statues</label>
    <input type="text" placeholder="Complete / In Progress" class="input" />
    <button class="btn btn-success w-50 mt-2">Add</button>
  </form>
</div>
