<div class="container mt-4">
  <h1 class="title mt-4">Add a New Task</h1>
  <form class="form-container" (submit)="onSubmit()">
    <label class="form-label label mt-4 mb-0">Task Title</label>
    <input
      type="text"
      placeholder="Enter task name"
      class="input form-control"
      name="title"
      [(ngModel)]="task.title"
      required
    />
    <label class="form-label label mb-0 mt-3">Task description</label>
    <input
      type="text"
      placeholder="Enter task description"
      class="form-contro input"
      name="description"
      [(ngModel)]="task.description"
      required
    />
    <label class="form-label label mb-0 mt-3">Task Statues</label>
    <input
      type="text"
      placeholder="Complete / In Progress"
      class="form-control input"
      name="status"
      [(ngModel)]="task.status"
      required
    />
    <button class="btn btn-success w-50 mt-2">Add</button>
  </form>
</div>
