<div class="container my-5">
  <div class="row">
    <div
      class="col-sm-12 col-md-6 col-lg-6 p-0 d-flex justify-content-center align-items-center"
    >
      <img src="/assets/Images/error2.png" alt="Error" class="img" />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="text-container">
        <h5 class="title">Oooops...</h5>
        <h3 class="sub-title">Page Not Page</h3>
        <p class="text">
          The page you are looking for doesn't exist, go back to home page.
        </p>
        <button class="btn btn-danger" [routerLink]="['/home']">Go Back</button>
      </div>
    </div>
  </div>
</div>
