<div class="container">
  <h1 class="title mt-4">Update {{ task?.title }}</h1>
  <form class="form-container" (submit)="onSubmit()">
    <!-- <label class="label">Task Title</label>
    <input
      type="text"
      placeholder="Enter task name"
      class="input"
      name="title"
      [(ngModle)]="task?.title"
    /> -->
    <label class="form-label label mb-0 mt-3">Task description</label>
    <input
      type="text"
      [placeholder]="
        task?.description != null ? task?.description : 'Enter the description'
      "
      class="form-control input"
      name="description"
      [(ngModel)]="task.description"
      required
    />
    <label class="form-label label mb-0 mt-3">Task Statues</label>
    <input
      type="text"
      [placeholder]="task?.status != null ? task?.status : 'Enter the status'"
      [(ngModel)]="task.status"
      required
      class="form-control input"
    />
    <button class="btn btn-success w-50 mt-2" [routerLink]="['/home']">
      Update
    </button>
  </form>
</div>
